[settings]

#
# Warning: Please check permissions of this file prior to saving usernames/passwords
#

#
# RabbitMQ Password; see /etc/cb/cb.conf
# 
rabbitmqpassword = ad3efBGE45Xza

#
# RabbitMQ Username; see /etc/cb/cb.conf
#
rabbitmqusername = cb

#
# Carbon Black Server IP
#
cbserverip = 192.168.23.45

#
# Carbon Black Server API token
#
cbtoken = 271a314d1d98469468b962f494885fbef9f93ba3

#
# Comma separated list of watchlist names that will trigger auto-blacklisting
# Note: The names must be exactly the same as they are in the Carbon Black Server UI
#
watchlists = Powershell Execution
